//COMMON IMPORTS
@import "../config/imports";

// DEMO COLORS
$color-primary: #6a80a9;
$color-secondary: #25272c;
$color-tertiary: #e5edf1;
$color-quaternary: #172536;
$color-dark: #2e353e;
$color-light: #FFF;

// DEMO FONT FAMILY
$font-primary: 'Poppins', sans-serif;

.custom-primary-font {
	font-family: $font-primary !important;
}

// CONFIG DEMO TEXT ELEMENTS
h1, h2, h3, h4, h5, h6, a, p, span {
	font-family: $font-primary;
}

h2 {
	font-size: 1.8em;
	line-height: 27px;
	margin: 0;
}

h4 {
	font-size: 1.1em;
	line-height: 18px;
}

//// CUSTOM DEMO ELEMENT STYLES
// COLORS
.custom-text-color-1 {
	color: #818898 !important;
}

.custom-text-color-2 {
	color: #c6d4ee !important;
}

.custom-text-color-3 {
	color: #94a9c3 !important;
}

.custom-btn-background-color-1 {
	background: #8a9ec3 !important;

	&:hover {
		background: #91a6cd !important;
	}
}

// IMAGE
.custom-img-rounded {
	border-radius: 100%;
}

// BUTTON
.custom-btn-style-1 {
	padding: 13px 25px !important;
	font-size: 12px;
	border-radius: 2px !important
}

.custom-btn-style-2 {
	padding: 13px 30px;
	font-size: 12px;
	border-width: 2px;
}

// SECTION
.custom-section-spacement-1 {
	padding: 60px 0 !important;
}

// PARALLAX
.custom-parallax-bg-pos-left {
	background-position-x: 0% !important;
}

// ALIGNMENT
.custom-text-align-right {
	text-align: right !important;
}

.custom-center-img-responsive {
	margin: 0 auto;
}

// EFFECT
.custom-opacity-effect-1 {
	@include transition(ease opacity 300ms);

	&:hover {
		opacity: 0.5;
	}
}

// SPACEMENT
.custom-btn-padding-1 {
	padding: 13px 35px !important;
}

@media (min-width: 768px) {
	.custom-padding-right-1 {
		padding-right: 130px;
	}
}

@media (max-width: 991px) {
	.custom-sm-margin-bottom-1 {
		margin-bottom: 25px !important;
	}
}

@media (max-width: 767px) {
	.custom-xs-margin-bottom-1 {
		margin-bottom: 25px !important;
	}
}

// ORDER
@media (max-width: 991px) {
	.custom-sm-flex-order {
		display: flex;
		flex-flow: row wrap;

		.col-md-6 {
			width: 100%;

			&:nth-child(1) {
				order: 2;
			}

			&:nth-child(2) {
				order: 1;
			}
		}
	}
}

/*
* Owl Carousel
*/
.owl-carousel {
	&.custom-nav {
		.owl-nav {
		    position: relative;
			top: initial;
			bottom: 105px;
		    left: 50%;
		    width: 230px;
		    @include transform(translateX(-50%));

		    .owl-next, .owl-prev {
		    	background: transparent !important;

		    	&:before {
					content: '';
					display: block;
					position: absolute;
					left: -3px;
					top: 6px;
					width: 20px;
					height: 20px;
					border-top: 1px solid $color-dark;
					border-left: 1px solid $color-dark;
					@include transform(rotate(-45deg));
		    	}
		    }

		    .owl-next {
		    	right: -15px;

		    	&:before {
		    		@include transform(rotate(135deg));
		    	}
		    }
		}
	}
}

/*
* Header
*/
#header {
	.header-body {
		border: none;
	}

	.header-nav-main {
		&.custom-header-nav-main-dark-style {
			nav {
				> ul {
					> li {
						&:hover, &.active {
							> a {
								color: $color-primary;

								&:after {
									border-color: $color-primary transparent transparent transparent !important;
								}
							}
						}

						> a {
							background: transparent !important;
							color: $color-dark;
							font-weight: 600;

							&:after {
								border-color: $color-dark transparent transparent transparent !important;
							}
						}

						ul {
							li {
								a {
									font-size: 12px !important;
								}
							}
						}
					}
				}
			}
		}
	}
}

.custom-toll-free {
	position: relative;
	padding-left: 35px;
	margin-left: 40px;

	> span {
		display: block;

		&.toll-free-number {
			font-size: 1.5em;
    		letter-spacing: -1px;
		}
	}

	> i {
	    position: absolute;
	    top: 2px;
	    left: 0;
	    font-size: 4em;
	    line-height: 0.8;
	}
}

/*
* Home Intro
*/
.custom-home-intro {
	padding: 20px 0 20px 0;

	p {
		span {
			position: relative;
			display: inline-block;
			padding-top: 0;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				right: -40px;
				width: 30px;
				border-bottom: 1px solid $color-light;
				@include transform(translateY(-50%));
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				right: -44px;
			    width: 0;
			    height: 0;
			    border-top: 5px solid transparent;
			    border-bottom: 5px solid transparent;
			    border-left: 5px solid $color-light;
				@include transform(translateY(-50%));
			}
		}
	}
}

/*
* Counter
*/
.custom-counters {
	.counter {
		span {
			line-height: 1;
			font-size: 3.6em;

			&:last-child {
				display: block;
				font-size: 1.1em;
			}
		}
	}
}

/*
* Team
*/
.custom-thumb-info-1 {
	overflow: initial;
	@include transition(ease box-shadow 300ms);

	&:hover {
		box-shadow: 0px 0px 70px 0px rgba(139, 139, 139, 0.5);

		.thumb-info-wrapper {
			&:after {
				content: none;
			}
		}

		.thumb-info-caption {
			border-bottom: 0;
		}
	}

	.thumb-info-wrapper {
		@include transform(initial);
	}

	.thumb-info-caption {
		position: relative;
		display: block;
		padding: 0;
		border-bottom: 1px solid #e3e3e3;
		@include transition(ease border-bottom 300ms);

		.thumb-info-caption-text {
			padding: 30px 20px;

			p {
				padding: 0;
			    font-size: 1em;
			}

			.custom-thumb-info-caption-plus {
				position: absolute;
			    top: 30px;
			    right: 20px;
			    border-radius: 100%;
			    font-size: 2em;
			    line-height: 0.76;
			    width: 30px;
			    height: 30px;
			    font-weight: 100;
			    text-align: center;
			    padding-top: 7px;
			}
		}
	}
}

/*
* Testimonial
*/
.custom-testimonial-style {
	&.testimonial-with-quotes {
		blockquote{
			&:before, &:after {
				font-size: 50px;
				color: $color-dark;
			}
		}
	}

	blockquote {
		p {
			font-style: normal;
			font-size: 1em;
    		line-height: 2;
		}
	}
}

/*
* Blog
*/
.custom-post-blog {
	position: relative;

	> h4, > p {
		padding: 0 30px 0 90px;
	}

	.date {
		position: absolute;
		top: 5px;
		left: 0;

		> span {
			display: block;

			&.day {
				font-size: 3.5em;
    			line-height: 0.7;
			}
		}
	}
}

/*
* We Call You Back
*/
.custom-form-style {
	.form-control-custom {
		position: relative;
		margin-bottom: 10px;

		> i {
			position: absolute;
			top: 10px;
			left: 0;
			color: $color-light;
		}

		.form-control {
			background: transparent;
			border: none;
    		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			padding: 10px 10px 10px 30px;
			box-shadow: none;
			color: $color-light;
			@include placeholder-color(#c8d4ea);
		}
	}
}

/*
* Let's Talk
*/
.custom-feature-box {
	display: block;

	.feature-box-info {
		padding: 0;

		> label {
			display: block;
		    margin: 0;
		    line-height: 1;
		    font-size: 0.8em;
		}

		> strong {
			font-size: 1.5em;
    		line-height: 1.3;
		}
	}
}

.custom-background-image-1 {
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		background: url(../../img/demos/finance/contact/lets-talk-bg.png);
		background-size: cover;
		width: 100%;
		height: 100%;
		@include transform(translate(-50%, -50%));
	}
}

@media (max-width: 991px) {
	.custom-background-image-1 {
		&:before {
			left: 70%;
		}
	}
}

/*
* Footer
*/
.custom-footer {
	border-top: 0 !important;

	ul {
		padding: 0;

		li {
			list-style: none;
		}
	}

	.footer-copyright {
		border-top: 0 !important;

		.container {
			.row {
				> div {
					border-top: 1px solid #e4e4e4;
				}
			}
		}
	}
}

.custom-social-icons {
	li {
		list-style: none;
	    border-radius: 0;
	    border: 1px solid #c9c9cc;
	    box-shadow: none;
	    margin-right: 5px;

	    a {
	    	border-radius: 0;
	    	line-height: 2.7;
	    	color: #93949a !important;
	    }
	}
}